{% extends "base.html" %}

{% block title_head %}
Equipos
{% endblock title_head %}

{% block h1_header %}
Listado de Equipos
{% endblock h1_header %}

{% block main %}

<a href={% url "crear_equipo" %}>Crear Equipo</a>

<form action={% url "equipos" %} method="get">
    {{formulario.as_p}}
    <input type="submit" value="Buscar">
</form>

{% if equipos %}

    <ul>
        {% for equipo in equipos %}
        <li>{{equipo}}. UwU 
            <a href={% url "eliminar_equipo" equipo.id%}>Eliminar</a> UwU
            <a href={% url "editar_equipo" equipo.id%}>Editar</a> UwU
            <a href={% url "ver_equipo" equipo.id %}>Ver</a> 
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No hay equipos creados</p>
{% endif %}
{% endblock main %}