{% extends "base.html" %}
{% block title_head %}
Sobre Mi
{% endblock title_head %}
{% block h1_header %}
Sobre mi
{% endblock h1_header %}
{% block main %}
        </main>
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">Mi nombre es Tobias Santiago Abalos Bertoldi, soy de Argentina, Buenos Aires. Me anote en este curso para conocer mas sobre python y porque me interesa la programacion. Hace poco me anote en la facultad para estudiar programacion en la UTN de Haedo.</li>
                            {% comment %} <li class="list-inline-item">Me anote en este curso para conocer mas sobre python y porque me interesa la programacion.</li>
                            <li class="list-inline-item">Hace poco me anote en la facultad para estudiar programacion en la UTN de Haedo.</li> {% endcomment %}
                            <li class="list-inline-item"></li>
                        </ul>
                        </ul>
                            <p class="text-muted small mb-4 mb-lg-0">CoderHouse</p>
                            <p class="text-muted small mb-4 mb-lg-0">Programacion</p>
                            <p class="text-muted small mb-4 mb-lg-0">Python</p>
                        </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                    </div>
                </div>
            </div>
        </footer>
{% endblock main %}