{% extends "base.html" %}

{% block title_head %}
Videojuegos
{% endblock title_head %}

{% block h1_header %}
Lista de videojuegos
{% endblock h1_header %}


{% block main %}

<a href={% url "crearjuego2" %}>Crear Juego</a>

<form action={% url "juegos" %} method="get">
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

{% if juegos %}
    <ul>
        {% for videojuego in juegos  %}
        <li>{{videojuego}}</li>
        {% endfor %}
    </ul>
{% else %}
<p>No hay juegos creados</p>
{% endif %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href={% url "aboutme" %}>About Me</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">CoderHouse</p>
                <p class="text-muted small mb-4 mb-lg-0">Programacion</p>
                <p class="text-muted small mb-4 mb-lg-0">Python</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                   
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock main %}