{% extends "base.html" %}

{% block title_head %}
Paises
{% endblock title_head %}

{% block h1_header %}
Lista de paises
{% endblock h1_header %}


{% block main %}

<a href={% url "crearpais" %}>Crear Pais</a>

<form action={% url "paises" %} method="get">
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

{% if paises %}
    <ul>
        {% for pais in paises  %}
        <li>{{pais}} UwU
            <a href={% url "editar_pais" pais.id %}>Editar</a> UwU
            <a href={% url "eliminar_pais" pais.id%}>Eliminar</a> UwU
            <a href={% url "ver_pais" pais.id%}>Ver</a> UwU
            
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No hay paises creados</p>
{% endif %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href={% url "aboutme" %}>About Me</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">CoderHouse</p>
                <p class="text-muted small mb-4 mb-lg-0">Programacion</p>
                <p class="text-muted small mb-4 mb-lg-0">Python</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                   
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock main %}